body{
    background-color: rgb(144, 144, 225);
    margin: 0;
    font-size: 20px;
    font-family: 'Sacramento', cursive;
}
h1{
    margin-top: 0;
}
.pro{
    text-decoration: underline;
    font-size: 30px;
    color: red;   
}
.top{
  position: relative;
  left: 350px;
   
}
.bottom{
   position: absolute;
  
  left: 200px;
    
}
.name{
    text-align: center;
    padding-top:50px ;
}